body {
  color: #27496d;
  text-align: center;
  font-family: 'Century Gothic', Raleway, serif;
  margin: 0;
}
h2 {
  color: #120136;
  font-family: 'Comfortaa', sans-serif;
}
h3 {
  color: #120136;
  font-family: 'Comfortaa', sans-serif;
}
h4 {
  color: #120136;
}




/* top-section */

.top-section {
  position: relative;
  min-height: 38rem;
  max-height: 49rem;
  background-position: center;
  background-size: cover;
  padding: 5% 14% 35.5%;
}
.top-container {
  margin-top: 11%;
}
.main-h1 {
  font-family: 'Tangerine', Fondamento, Satisfy, Gloria Hallelujah, Niconne, cursive;
  color: #120136;
  font-size: 5.5rem;
}
.main-h1:hover {
  opacity: 0.7;
}
.sub-h2 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 1rem;
}
.sub-h2:hover {
  opacity: 0.7;
}




/* profile */

.profile {
  background-color: #ced7df;
  display: block;
}
.profile-container {
  padding: 10% 4rem;
}
.h3-hello {
  color: #27496d;
  margin: 25px auto 8px;
  font-size: 20px;
  font-family: 'Century Gothic', serif;
  width: 30%;
}




/* abilities */

.abilities {
  background-color: #e6ebef;
}
.abilities-container {
  padding: 10% 4rem;
}
.abilitis-div {
  text-align: center;
}
.abiliti-h2 {
  margin-top: 40px;
}
.abiliti-hr {
  margin-top: 30px;
}
.abiliti-h3 {
  text-align: left;
}
.table{
  margin: auto;
  max-width: 600px;
}

.abiliti-table {
  width: 100%;
}
.abiliti-p {
  margin: 2%;
}
.th-align01 {
  text-align: left;
}
.th-align02 {
  text-align: right;
}
.tr-hover:hover {
  opacity: 0.8;
  transform: scale(1.01);
}




/* contact */

.contact {
  background-color: #ced7df;
}
.contact-container {
  padding: 10% 4rem;
}
.contact-h3 {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
}
.contact-p {
  width: 90%;
  margin: 13px auto;
}
.button_contact {
  background-color: #728ca3;
  border: none;
  color: #3b4b5b;
  padding: 15px 32px 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 100;
  font-family: "Century Gothic", Verdana,sans-serif;
  margin: 20px auto 10px;
  opacity: 1;
  transition: 1s;
}

.button_contact:hover {
  opacity: 0.7;
}

.i-mail {
  color: #3b4b5b;
  font-size: 16px;
}




/* footer */

.footer {
  background-color: #4f657a;
}
.footer-container {
  padding: 10% 4rem;
}
.social-links {
  background-color: #4f657a;
  margin: 30px auto 55px;
}
.cp {
  background-color: #4f657a;
  color: #313f4c;
  margin-top: 2%;
}
.i-footer {
  color:#4d4d4d;
  margin: 2%;
  font-size: 1.5rem;
}
.i-footer:hover {
  color:#333333;
}
.icon-footer {
  margin: 1%;
}

/* .gif-1 {
  background-color: #e6ebef;
}
.gif-2 {
  background-color: #e6ebef;
}
.gif1 {
  height: 250px;
}
.gif2 {
  height: 200px;
} */



/* @media (min-width: 992px) {
  .gif-col {
    background-color: #e6ebef;
  }
  .gif1 {
    height: 250px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .gif2 {
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .gif3 {
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgba(255,0,0,0.7);
    border-radius: 30%;
  }
} */


@media (max-width: 570px) and (min-width: 0px) {
  .top-container {
    margin-top: 48%;
  }
  .abilities-container {
    padding: 4rem 1%;
    min-width: 100%;
  }
  .profile-container {
    padding: 4rem 1%;
  }
  .main-h1 {
    font-size: 4.5rem;
  }
  .table{
    margin: 5%;
  }
  .abiliti-h2 {
    font-size: 1.6rem;
  }
  .abiliti-h3 {
    font-size: 1.3rem;
  }
  .sub-h2 {
    font-size: 1rem;
  }
  .table {
    max-width: 90%;
  }
  .contact-h3 {
    font-size: 1.3rem;
  }
  .contact-p {
    font-size: .65rem;
  }
  .contact-container {
    padding: 4rem 1%;
  }
  .button_contact {
    padding: 10px 16px;
    font-size: 13px;
  }
  .i-mail {
    font-size: 13px;
  }
  .footer-container {
    padding: 4rem 1%;
  }
  /* .gif-1 {
    background-color: #e6ebef;
  }
  .gif-2 {
    background-color: #e6ebef;
  }
  .gif1 {
    height: 250px;
  }
  .gif2 {
    height: 200px;
  } */
}
